.dialogs{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.dialogsItem {
    padding: 10px;
}
.dialogsItem a{
    text-decoration: none;
}
.dialog{

}
.messages{
    padding: 10px;
}
.messages .message{

}